 @charset "utf-8";
/* --------------------------------------
ブラウザスタイル初期化
--------------------------------------*/
* {
	margin: 0;
	padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
img {
	vertical-align: bottom;
}
/* --------------------------------------
背景＆基本設定
--------------------------------------*/
body {
	background-color: #FFF;
	-webkit-text-size-adjust: none;
	min-width: 980px;
	font-family: 'Noto Sans JP', sans-serif;
	background-position: center center;
}
img {
	border: none;
}
a {
	color: #fff;
	text-decoration: underline;
	transition:.3s;
}
a:link {
	color: #fff;
}
a:hover {
	color: #666666;
	text-decoration: none;
}
a:visited {
	color: #fff;
	text-decoration: underline;
}
p {
	margin: 0;
	padding: 0;
	line-height: 2;
}
ul {
	list-style: none;
	margin-bottom: 20px;
}
ol {
	margin-left: 25px;
}
dt {
	width: 20%;
	clear: left;
	float: left;
	padding: 10px 0;
}
dd {
	padding: 10px 0 10px 20%;
	border-bottom: 1px solid rgb(239, 239, 239);
}
hr {
	overflow: hidden;
	height: 0;
	border: #bdbdbd dotted 1px;
	margin: 5px 0 15px 0;
}
#base {
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: block;
	margin: 0;
	width: 100%;
	height: auto;
	padding: 0;
	overflow: auto;
}
#bg {
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.wrapper-top {
	position: fixed;
	margin: auto;
	left: initial;
	right: 10px;
	bottom: 100px;
}
.wrapper {
	z-index: 0;
	position: relative;
	margin: 0px auto;
	min-height: 100vh;
	height: 100%;
	width: 1000px;
	overflow: hidden;
}
.wrapper_head {
	margin: 0px auto;
	padding: 0;
	width: 100%;
	z-index: 1000;
	position: relative;
	background: #CCC;
}
#content {
	padding: 0 0 30px;
	margin: 0px auto;
	z-index: 10;
	position: relative;
}
#content img {
}
#pan {
	font-size: 10px;
	font-family: 'Arial', 'Helvetica', sans-serif;
	margin: 0px auto 20px;
	width: 100%;
	display: none;
}
#content #main {
	width: 100%;
	float: none;
	line-height: 1.8;
	font-size: 14px;
	margin: 0 auto;/*text-align: justify;*/
}
#content .sec h2:first-child, #content .sec h3:first-child, #content .sec h4:first-child {
	margin-top: 0 !important;
}
.square3 u {
	font-size: 20px;
}
a.link_btn {
	/* border: 2px solid #000; */
  padding: 10px 30px;
	display: inline-block;
	font-size: 17px;
	font-family: 'Playfair Display SC', serif;
	background-color: #fff;
	color: #000;
	text-decoration: none;
}
a.link_btn:hover {
	opacity: 0.60; /* opera  firefox safari */
	filter: alpha(opacity=60); /* ie */
	-ms-filter: "alpha( opacity=60 )";
}
/* --------------------------------------
マウスオーバー設定
--------------------------------------*/
#content #main a:hover img {
	opacity: 0.60; /* opera  firefox safari */
	filter: alpha(opacity=60); /* ie */
	-ms-filter: "alpha( opacity=60 )";
}
#content #side a:hover img {
	opacity: 0.60; /* opera  firefox safari */
	filter: alpha(opacity=60); /* ie */
	-ms-filter: "alpha( opacity=60 )";
}
#content #side li:hover {
	opacity: 0.60; /* opera  firefox safari */
	filter: alpha(opacity=60);/* ie */
	-ms-filter: "alpha( opacity=60 )";
	background: #FFF;/* border-left:#ff6000 2px solid; */
}
.menu_navi li a:hover {
	opacity: 0.60; /* opera  firefox safari */
	filter: alpha(opacity=60); /* ie */
	-ms-filter: "alpha( opacity=60 )";
}
/* --------------------------------------
ヘッダー定義
--------------------------------------*/
#header_main {
	position: fixed;
	width: 100%;
}
#header {
	width: 100%;
	/* background-image: url("img/bg_header.png"); */
	background-repeat: no-repeat;
	background-position: left top;
	z-index: 1000;
	margin: 0 auto;
	background-color: #fff;
	height: 60px;
	margin: 0px auto;
	position: fixed;
	box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-o-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-ms-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	/* box-shadow: 2px 2px 2px rgb(227, 230, 234); */
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;
	top: 0;
	right: 0;
}
/*ロゴ　スクロール時非表示*/
#header.xh {
	right: 260px;
}
#header.fixed .header_l img {
	display: none;
}
#header .header_l img {
	margin-top: 30px;
}
.header_tel {
	float: none;
	line-height: 40px;
	background-color: #8fafdb;
	color: #fff;
	height: 40px;
}
.header_tel p {
	width: 1020px;
	margin: 0 auto;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
}
.header_l {
	position: absolute;
	left: -100px;
	transform: rotate(270deg);
	top: 140px;
}
.header_r {
	position: absolute;
	right: 20px;
}
#pagetop {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}
a#pagetop:hover {
	opacity: 0.6;
}
#menu {
	margin: 30px 0 0;
}
#menu li a {
	width: 80px;
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 50%;
}
#menu li:first-child {
	margin: 0 0 10px;
}
#menu li:first-child a {
	background: #333;
}
#menu li:last-child a {
	background: #333;
}
#menu li a:hover {
	background: #fff153;
	color:#333;
}
/* --------------------------------------
フッター定義
--------------------------------------*/

footer {
	margin: auto;
	/*  right: 0px;
  left: initial;*/
  bottom: 0px;
	width: 100%;
	z-index: 99;
}
#footer {
	clear: both;
	text-align: center;
	font-size: 13px;
	padding-bottom: 0px;
	border-bottom: 0px solid #ff6000;
	/* background-image: url("img/footer.png"); */
	background-repeat: repeat-x;
	background-position: bottom;
	_margin-bottom: 0px;
*margin-bottom:0px;
}
.copyright {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: block;
	width: 100%;
	background: #fff;
	padding: 10px;
	font-size: 11px;
}
.copyright a {
	text-decoration: none;
	color: #333;
}
.dotted {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 15px;
}
/* --------------------------------------
見出し設定
--------------------------------------*/
#content #main h1, #content #main h2, #content #main h3, #content #main h4, #content #main h5 {
	font-family: 'Playfair Display SC', serif, 'Lucida Grande', 'Hiragino Kaku Gothic ProN';
}
/* h1共通部分 */
#content #main h1.singletitle, #content #main h1, h1 {
	clear: both;
	font-size: 50px;
	font-family: "work-sans", sans-serif;
	font-weight: bold;
	font-style: normal;
}
h1 a {
	color: #000 !important;
	text-decoration: none;
}
/* コンテンツ中のh1上margin */
#content #main h1.title {
	margin-top: 0px;
}
#content #main h2, h2 {
	clear: both;
	font-size: 90px;
	font-weight: bold;
	line-height: normal;
	margin: 60px 0 10px;
	color: #fff153;
	font-family: "work-sans", sans-serif;
	font-style: normal;
}
#content #main h2:first-child, h2:first-child {
	margin-top: 0;
}
#content #main h3, h3 {
	clear: both;
	font-size: 22px;
	margin: 50px 0 10px 0;
	font-weight: bold;
	line-height: normal;
	padding:8px 0 8px 50px;
	position:relative;
	font-family: "brandon-grotesque", sans-serif;
	font-weight: 700;
	font-style: normal;
}
#content #main h3:before {
	content: "";
	width: 1px;
	height: 60px;
	background: #000000;
	position: absolute;
	transform: rotate(45deg);
	top: -7px;
	left: 25px;
}
#content #main h4, h4 {
	clear: both;
	color: #303030;
	font-size: 18px;
	margin: 20px 0 2px 0;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: normal;
	padding: 0;
}
/*special css*/


/*end special css*/


/* --------------------------------------
WordPress FCKEditor table
--------------------------------------*/

table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto 5px auto;
}
td {
	border: 1px solid #c7c7c7;
	padding: 10px;
}
/* --------------------------------------
テーブル
--------------------------------------*/

.tablestyle {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}
.tdstyle {
	/*background-color: #eaeaea;*/
	border: 1px solid #dadada;
	padding: 8px 10px;
	width: 26%;
	text-align: center;
	font-weight: bold;
}
.tdstyle_none {
	background-color: #F5F3F3;
	border: 1px solid #d2d2d2;
	padding: 8px 10px;
	text-align: center;
}
/* 左寄せ */
.tdstyle2 {
	border: 1px solid #dadada;
	padding: 20px;
	text-align: left;/*background-color: white;*/
}
/* 右寄せ */
.tdstyle3 {
	border: 1px solid #dadada;
	padding: 20px;
	text-align: right;
	background-color: white;
}
/* 中央寄せ */
.tdstyle4 {
	border: 1px solid #dadada;
	padding: 20px;
	text-align: center;
	background-color: white;
}
/*special css*/
/*end special css*/


/* --------------------------------------
便利ボタン１
--------------------------------------*/
a.link {
	text-align: center;
	margin: 20px auto 0 auto;
	background-color: #4485e9;
	border-radius: 3px;
	text-decoration: none;
	font-size: 110%;
	color: #fff;
	padding: 15px 20px;
	display: block;
	width: 180px;
}
a.link:hover {
	background-color: #1B74E8;
}
a.link2 {
	text-align: center;
	margin: 20px auto 0 auto;
	background-color: #ff5555;
	border-radius: 3px;
	text-decoration: none;
	font-size: 110%;
	color: #fff;
	padding: 15px 20px;
	display: block;
	width: 20%;
}
a.link2:hover {
	background-color: #FF3C35;
}
.line {
	color: #ff6000;
	border-bottom: 2px solid #ff6000;
	padding-bottom: 2px;
}
.line a {
	color: #ff6000;
	text-decoration: none;
}
/* --------------------------------------
テキスト飾り設定
--------------------------------------*/

.hosoku {
	color: #5a5a5a;
	font-size: 90%;
	line-height: 1.7;
}
.bold {
	font-weight:bold;
}
.fs0 {
	font-size: 90%;
}
.fs2 {
	font-size: 114.2857%;
}
.fs3 {
	font-size: 130%;
}
.fs4 {
	font-size: 160%;
	line-height: 1.5;
}
.fs5 {
	font-size: 200%;
	line-height: 1.5;
}
.mt0 {
	margin-top: 0px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mt60 {
	margin-top: 60px !important;
}
.mt70 {
	margin-top: 70px !important;
}
.mt80 {
	margin-top: 80px !important;
}
.mb0 {
	margin-bottom: 0px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}
.mb60 {
	margin-bottom: 60px !important;
}
.mb70 {
	margin-bottom: 70px !important;
}
.mb80 {
	margin-bottom: 80px !important;
}
.ml10 {
	margin-left: 10px !important;
}
.ml15 {
	margin-left: 15px !important;
}
.ml20 {
	margin-left: 20px !important;
}
.ml25 {
	margin-left: 25px !important;
}
.ml30 {
	margin-left: 30px !important;
	;
}
.pt10 {
	padding-top: 10px !important;
}
.yellow {
	background-color: #FFFF85;
	padding: 4px 5px 2px 5px;
	font-weight: normal;
}
/*テキスト装飾*/
.tk1 {
	color: #e60000;
}
.tk2 {
	font-weight: bold;
	background: linear-gradient(transparent 60%, rgba(255, 216, 0, 1) 40%);
	text-shadow: 0px 2px 0px rgb(255, 255, 255);
	padding-bottom: 3px;
	color: #000000;
}
.tk3 {
	font-weight: bold;
	background: linear-gradient(transparent 70%, #ff3737 20%);
	text-shadow: 0px 2px 0px rgb(255, 255, 255);
	padding-bottom: 3px;
}
.fg {
	font-family: georgia, serif;
	font-size:120%;
}
/*電話番号装飾*/
.telarea {
	border: 1px solid #CECECE;
	margin: 0 0 10px 0;
	padding: 20px 20px 0 20px;
	display: inline-block;
}
.teltext {
	font-size: 26px;
}
.freedial {
	text-align: left;
}
.uline {
	color: #F00;
	text-decoration: underline;
	font-style: italic;
}
.round {
	border-radius: 100px;
}
.blue {
	color: #4485e9;
}
/*チェックボックスの付くリスト*/
ul.check_red li {/*赤*/
	background-image: url(img/check_red.png);
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left 2px;
	margin: 2px 0;
	min-height: 19px;
}
ul.check_blue li {/*青*/
	background-image: url(img/check_blue.png);
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left 2px;
	margin: 2px 0;
	min-height: 19px;
}
ul.check_green li {/*緑*/
	background-image: url(img/check_green.png);
	padding-left: 33px;
	background-repeat: no-repeat;
	background-position: left 2px;
	margin: 2px 0;
	min-height: 21px;
}
ul.check_yellow li {/*黄*/
	background-image: url(img/check_yellow.png);
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left 2px;
	margin: 2px 0;
	min-height: 19px;
}
ul.arrow li {
	background-image: url(img/arrow.png);
	padding-left: 21px;
	background-repeat: no-repeat;
	background-position: left 2px;
	margin: 2px 0;
	min-height: 15px;
}
ul.arrow2 li {
	background-image: url(img/arrow2.png);
	padding-left: 21px;
	background-repeat: no-repeat;
	background-position: left 2px;
	margin: 2px 0;
	min-height: 13px;
}
/*special css*/

/*end special css*/


/* --------------------------------------
汎用クラス定義
--------------------------------------*/
.clearfix:after {
	content: ".";  /* 新しい要素を作る */
	display: block;  /* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;/*\*//*/
  height:  auto;
  overflow: hidden;
  /**/
}
.fixmargin {
	margin-top: -23px;
}
/*-------------------------------------
グローバルナビ定義（gnavi・グロナビ）
------------------------------------- */

nav {
	width: auto;
	margin: 0 auto;
}
#header.fixed .menu_navi {
	float: right;
}
#header.fixed .menu_logo {
	float: left;
	width: 110px;
}
.menu_logo li, .menu_navi li {
	float: left;
	width: auto;
	display: inline-block;
	vertical-align: bottom;
}
/*--Gナビ内のロゴ制御--*/
.menu_logo li a.navi_logo {
	margin: 20px 0 20px 0px;
	display: inline-block;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.menu_logo li a.navi_logo svg {
	width: 130px;
	height: 62px;
}
.menu_logo li a.navi_logo img {
	width: 270px;/*logo.pngの横幅*/
}
#m_logo {
}
#m_logo svg {
	width: 66px;
	height: 31px;
	margin-top: 10px;
	margin-left: 10px;
}
#header.fixed .menu_logo li {
}
#header.fixed li a.navi_logo {
	display: block;
	margin: 0px 0 0 -26px;
	transform: scale(0.6);
}
#header.fixed li a.navi_logo img {
	display: block;
	/* animation: rotateplane 0.4s ease-in; */
	width: 110px;
	height: auto;
}
 @-webkit-keyframes rotateplane {
 0% {
-webkit-transform:perspective(200px) rotateX(90deg)
}
 100% {
-webkit-transform:perspective(200px) rotateX(0deg)
}
}
/*--ここまで--*/

/*--Gナビの文字が縮小--*/
#header.fixed li a {
	font-size: 14px;
}
/*--ここまで--*/

.menu_navi li {
	position: relative;
}
.menu_navi li a {
	text-align: center;
	display: block;
	margin: 0px 0 0 2px;
	text-decoration: none;
	float: left;
	width: auto;
	font-size: 15px;
	color: #000;
	padding: 10px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.menu_navi li a:hover {
/*
	margin-top: 0px;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha( opacity=100 )";
*/
}
#header.fixed .menu_navi li a {
	margin: 0px 0 0 2px;
}
.headnav {
	position: relative;
	height: 100px;
}
#header.fixed .headnav {
	position: relative;
	height: 70px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#overlay {
	z-index: 1000 !important;
}
#lightbox {
	z-index: 9999 !important;
}
/*++++++++++++++++ nav button set ++++++++++++++++*/
.button a {
	float: left;
	border-right: 1px solid #7A0114;   /* 上部メニューボタンの区切り線の色が設定できます */
	background: #C58D9A;   /* 上部メニューボタンの背景色が設定できます */
	height: 30px;
	margin: 0;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #fff; /* 上部メニューボタンの文字色が設定できます */
	display : block;
}
html>body .button a {
	height: 16px;
	font-size: small;
}
.button a.active, .button a:hover {
	background: #fff;   /* 上部メニューボタンの背景色（マウスオンの状態）が設定できます */
	color: #C58D9A;   /* 上部メニューボタンの文字色（マウスオンの状態）が設定できます */
}
.button a.selected {
	background: #fff;   /* 上部メニューボタンの背景色（セレクト時）が設定できます */
	color: #C58D9A;   /* 上部メニューボタンの文字色（セレクト時）が設定できます */
}
.button a:active.selected, .button a:hover.selected {
	background: #fff;   /* 上部メニューボタンの背景色（セレクト時のマウスオンの状態）が設定できます */
	color: #C58D9A;   /* 上部メニューボタンの文字色（セレクト時のマウスオンの状態）が設定できます */
}
.button a.nolink {
	background: #C58D9A;   /* 上部メニューボタンの背景色（リンクなし）が設定できます */
	color: #ccc;   /* 上部メニューボタンの文字色（リンクなし）が設定できます */
}
/* --------------------------------------
コンテンツ部分のdiv&pにおけるimg飛び出しの解除
--------------------------------------*/
/* -------
div
----------*/

#main div {
	min-height: 1px;
}
* html #main div {
	height: 1px;
}
/* --------------------------------------
中央寄せ・右寄せ
--------------------------------------*/
.ac {
	text-align: center;
}
.ar {
	text-align: right;
}
.al {
	text-align: left;
}
/* --------------------------------------
リスト（FontAwesome)
--------------------------------------*/
ul {
	text-align: left;
}
/* --------------------------------------
レイアウトbox(2列・3列・4列)
--------------------------------------*/
.flex {
	justify-content: space-between;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
/* ---------------------
H レスポンシブ用
------------------------*/

/* PC用とモバイル用のロゴを出し分ける */

#pc_logo {
	display: inline;
}
#pc_logo img {
	margin: 0 auto;
}
#mobile_logo {
	display: none;
}
#mobile_button {
	display: none;
}
.mobile_menu {
	display: none;
}
#mobile_main {
	display: none;
}
/* デスクトップでは非表示にする */
#panel, #mobile_side, .mobile_only, #mobile_tel, #mobile_main {
	display: none;
}
.Inner {
	width: 1000px;
	margin: 0 auto;
	padding: 0px 100px 0 90px;
	box-sizing: border-box;
}
section.about {
	position: relative;
}
section.about:before {
	content: "";
	position: fixed;
	top: 40px;
	background-image: url(img/profile.webp);
	background-size: cover;
	background-position: right top;
	width: 330px;
	height: 600px;
	z-index: -1;
	left: 56%;
}
.about_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about_txt {
	width: 52%;
}
.about_img {
	width: 20%;
}
.about_img img {
	width: 100%;
}
.about_name {
	font-family: "brandon-grotesque", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size:40px;
}
.career_box {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.career_box:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	background: black;
	left: 30px;
	z-index: -1;
}
.career_year {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff153;
	margin-right: 15px;
}
.career_detail {
	margin-top: 17px;
	width:46%;
	text-align: left;
}
.ti_career {
	margin-bottom: 10px;
	display: inline;
}
.position {
	display: inline;
	padding: 0 8px;
	line-height: 1.7;
	margin: 8px 0 15px 10px;
	border: 1px solid;
	border-radius: 50px;
	color: #959595;
}
.ti_business {
	margin: 10px 0 10px;
	border-bottom: 1px solid #959595;
	padding-bottom: 5px;
	color: #959595;
}
/*
.ti_business:before {
	content: "";
	margin: 0 12px 0 0;
	width: 2px;
	height: 18px;
	background: #000000;
	display: inline-block;
	vertical-align: middle;
}*/
.business_cont {
	margin: 15px 0 10px 0;
	background: #f8f8f8;
	padding: 1px 30px;
}
.business_cont ul {
	margin:0 0 10px 15px;
}
.business_cont ul li {
	list-style: outside;
}
section.works {
	background: #fff;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
}
.skill_wrap {
	display: flex;
	padding: 30px 50px;
	width: 42%;
	flex-wrap: wrap;
	border: #f0f0f0 7px solid;
	border-radius: 20px;
}
.skill_box {
	display: flex;
	flex-wrap: wrap;
}
.skill_ti {
	width: 120px;
}
.works_cont {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.works_box {
	width: 25%;
	border-right: 1px solid;
	border-bottom: 1px solid;
	padding: 30px 4%;
	border-radius: 0 0 10px 0;
	position: relative;
	margin-bottom: 30px;
}
.works_box a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.works_box a:hover {
	background-color: rgb(255 255 255 / 50%);
}
section.about h2 {
	margin-top: 0 !important;
	padding-top: 60px;
}
.works_img {
	position: relative;
	width: 210px;
	height: 150px;
	overflow: hidden;
	margin: 0 auto;
}
.works_img:after {
	position:absolute;
	left:0;
	top:0;
	content:"";
	background-image: url(img/bg_pc.webp);
	width: 100%;
	height: 174px;
	background-repeat: no-repeat;
	background-size: contain;
}
.works_img img {
	position: absolute;
	left: 27px;
	top: 5px;
	width: 156px;
}
.works_ti {
	font-weight: bold;
	font-size: 110%;
	text-align: center;
	margin: 20px 0 10px;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}
.detail {
	margin: 0 0 15px;
}
.works_tct p {
	margin-bottom: 5px;
}
.time span {
	background: #fff153;
	padding: 2px 7px;
	border-radius: 50px;
	margin: 0 8px 0 0;
}
.charge span {
	background: #fff153;
	padding: 2px 7px;
	border-radius: 50px;
	margin: 0 8px 0 0;
}
.tool {
	text-align: left;
}
.tool span {
	background:#fff153;
	padding: 2px 7px;
	border-radius: 50px;
	margin: 0 8px 0 0;
	line-height: 1.3;
}
@media screen and (max-width: 1000px) {
/* 構造 */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	min-width: 320px;/*overflow-x: hidden;*/
}
.wrapper {
	z-index: 10;
	width: 100%;
	padding-top: 40px;
	min-height: 100vh;
	height: 100%;
}
.wrapper_head, #header {
	margin: 0px auto;
	padding: 0;
	width: 100%;
	z-index: 1000;
	position: relative;
}
#header .header_l img {
	margin: 19px 0 0 10px;
	width: 200px;
	height: auto;
}
body, .home {/* 背景画像を非表示にしています */
	background: none;
	background-color: #fff;
}
#header h1 {/* h1はなしにしています */
	display: none;
}
.headnav, #footermenu {/* tel画像、フッターメニューを非表示にしています */
	display: none;
}
#submain .submain-title {
	width: auto;
}
#content #side {/* スマホ用のサイドバー */
	display: block;
	margin: 0 auto;
	float: none;
	width: 90%;
}
#content #side h3 {
	width: 100%;
}
#header.fixed {
/*  top:auto;メニュー戻り時ズレ防止 */
}
#header.fixed .header_l img {
	display: block;
}
#content #main {
	width: 100%;
	float: none;
	display: block;
	margin: 0;
	padding: 0 10px 0 30px;
}
#submain img {
	top: -250px;
}
#content img, #content iframe {
	max-width: 100%;
	height: auto;
}
#content {
	width: auto;
	padding: 10px 0 40px;
}
#pan {
	width: auto;
	margin-left: 10px;
}
#content .sec {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.mobile_only {/* モバイルにだけ表示させたいものに使用する */
	display: block;
}
.pc_only {/* pcにだけ表示させたいものに使用する */
	display: none;
}
/* ヘッダー */

.header_l img {
	width: auto;
	margin-top: 20px;/* スマフォlogo.pngの余白調整 */
	margin-left: 10px;/* スマフォlogo.pngの余白調整 */
	height: 15px;/* スマフォlogo.png高さの半分のサイズ */
}
#imagebox3 {
	margin-bottom: 0px;
}
#pc_button {
	display: none;
}
#mobile_button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	height: 50px;
	width: 50px;
	padding: 2px 10px 0 12px;
}
#mobile_button .menutxt {
	/* font-size: 10px; */
	text-decoration: none;
	position: relative;
	border: none;
	display: block;
}
#mobile_button .menutxt svg {
	width: 28px;
	height: auto;
}
#mobile_button .menutxt svg path {
	fill: black;
}
.lineswrap {
	height: 20px;
}
#mobile_button .lines {
	background: #000000;
	display: inline-block;
	width: 28px;
	height: 3px;
	position: relative;
	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#mobile_button .lines:after, #mobile_button .lines:before {
	background: #000000;
	position: absolute;
	display: inline-block;
	width: 28px;
	height: 3px;
	content: '';
	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#mobile_button .lines:before {
	top: 8px;
	right: 0;
}
#mobile_button .lines:after {
	top: -8px;
	right: 0px;
}
#mobile_button a.xclose {
	display: block;
	position: relative;
	height: auto;
	padding: 10px 0;
	margin-top: 8px;
	z-index: 1020;
	cursor: pointer;
}
#mobile_button .xclose .menutxt {
	display: none;
}
#mobile_button .xclose .lines {
	background: 0 0;
}
#mobile_button .xclose .lines:before {
	top: -14px;
	right: 0px;
	transform: rotate3d(0, 0, 1, 45deg);
	-o-transform: rotate3d(0, 0, 1, 45deg);
	-ms-transform: rotate3d(0, 0, 1, 45deg);
	-moz-transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
#mobile_button .xclose .lines:after {
	top: -14px;
	right: 0px;
	transform: rotate3d(0, 0, 1, -45deg);
	-o-transform: rotate3d(0, 0, 1, -45deg);
	-ms-transform: rotate3d(0, 0, 1, -45deg);
	-moz-transform: rotate3d(0, 0, 1, -45deg);
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
a#sidr-menu-button {
	display: block;
	height: auto;
	text-decoration: none;
	margin-top: 6px;
}
#mobile_main {
	display: inline-block;
}
#mobile_main img {
	max-width: 100%;
}
#header {
	margin-top: 0;
	height: 50px;
	background-color: #fff;
	box-shadow: 3px 0px 3px rgba(0,0,0,0.2);/* メイン画像との境目です（不要なら削除してください） */
	-moz-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-o-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-ms-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	position: fixed;
}
#header .header_l {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
#header .header_r {
	display: block;
}
/* ハンバーガーボタン */


#panel-btn {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	/*  margin: 20px 0 10px;*/
	background: #fff;
}
#panel-btn:hover {
	background: #fafafa;
}
#panel-btn-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 4px;
	margin: -2px 0 0 -15px;
	background: #666;
	transition: .2s;
}
#panel-btn-icon:before, #panel-btn-icon:after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 30px;
	height: 4px;
	background: #666;
	transition: .3s;
}
#panel-btn-icon:before {
	margin-top: -10px;
}
#panel-btn-icon:after {
	margin-top: 6px;
}
#panel-btn .close {
	background: transparent;
}
#panel-btn .close:before, #panel-btn .close:after {
	margin-top: 0;
}
#panel-btn .close:before {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
#panel-btn .close:after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
/* モバイル用のメニュー */


#panel {
	display: none;
	top: 50px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 40px;
	width: 100%;
	height: 100%;
	right: 0;
	position: absolute;
	z-index: 5;
}
#panel li a {
	text-decoration: none;
	font-size: 87%;
	line-height: 1.3;
	padding: 10px 15px;
	border-radius: 5px;
	color: white;
	width: 220px;
	display: block;
	margin: 0 auto 12px;
	font-weight: bold;
}
#panel .menu_list1 li a {/* 固定ページのリスト部分 */
	background-color: #393871;
}
#panel .menu_list2 li a {/* 投稿カテゴリのリスト部分 */
	background-color: #ccc;
	color: #333;
}
/* メイン画像　下層画像 */
#imagebox img {
	max-width: 100%;
}
#imagebox {
	margin: 0;
	text-align: center;
	height: auto;
}
#imagebox3 img {
	max-width: 80%;
	height: auto;
}
#imagebox3 {
	margin: 0;
	padding-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}
.imagebox_p {
	width: 60%;
	padding: 50px 0 0 0;
	height: 50%;
}
#base #bg #imagebox3 h1 {
	font-size: 40px;
	margin-bottom: 30px;
	line-height: 20px;
	color: #566278;
}
#base #bg #imagebox3 h1 .fs {
	font-size: 25px;
}
.imagebox_p span.c_2 {
	font-size: 20px;
}
.imagebox_p span.c_3 {
	font-size: 18px;
}
#imagebox2 {
	padding: 15px 10px 10px 10px;
	font-size: 125%;
	background-size: cover;
	height: auto;
	background-position: 50% 50%;
	line-height: 1.3;
}
/* 見出し */

#content #main h2.singletitle, #content #main h2.title, #content #main h2, #content #main h3, #content #main h4 {
	height: 100%;
	line-height: 1.2;
}
#content #main h2 {
	line-height: 1.5;
	margin-top: 30px;
}
/* フッター（サイド） */

#mobile_side {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.side_area img {
	display: block;
	margin: 0 auto;
}
#mobile_side .side_area h3 {
	width: 100%;
}
/* テーブル */

.tablestyle {
	border-collapse: collapse;
	width: 100% !important;
	border-top: 1px solid #dadada;
}
.tablestyle td {
	display: block;
	width: 100%;
	border-top: 0;
}
/* 固定ページ */

.alignright, .alignleft, .alignnone {
	float: none;
	display: block;
	margin: 10px auto;
}
.alignright.pc_only, .alignleft.pc_only, .alignnone.pc_only { /* caption分岐の際、余白防止 */
	display: none;
}
/* コンタクトフォーム */

textarea.wpcf7-form-control.wpcf7-textarea {
	width: 100%;
}
.wpcf7-text {
	width: 90%;
}
.k-year .wpcf7-form-control {/*年号のテキスト*/
	width: 5rem;
}
.wpcf7 td {/* フォームの行を縦に並べる */
	display: block;
	width: 100%;
	font-weight: bold;
}
.wpcf7 .tdstyle {/* フォームの項目を左寄せ */
	text-align: left;
}
/* 電話番号タップ */

#mobile_tel {
	display: block;
	position: fixed;
	z-index: 1;
	bottom: 0;
	width: 100%;
	padding: 10px 0 5px 0;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
}
.mobile_tel_inner {
	width: 80%;
	margin: 0 auto;
	border-radius: 5px;
	padding: 2px;
	background: #fff;
}
.tel_name {
	padding: 5px 0;
	font-weight: bold;
	color: #333;
}
.tel_btn {
	display: block;
	border-radius: 5px;
	font-size: 150%;
	font-weight: bold;
	padding-top: 5px;
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #46a1e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #46a1e2));
	background: -webkit-linear-gradient(top, #1e5799 0%, #46a1e2 100%);
	background: -o-linear-gradient(top, #1e5799 0%, #46a1e2 100%);
	background: -ms-linear-gradient(top, #1e5799 0%, #46a1e2 100%);
	background: linear-gradient(to bottom, #1e5799 0%, #46a1e2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#46a1e2', GradientType=0 );
}
.tel_btn a {
	color: #fff;
	text-decoration: none;
}
/*ページ読み込み時に一瞬main2,main3がちらつくのを防ぐ*/
.img2 {
	display: none;
}
.img2.show {
	display: block;
}
.header_tel {
	display: none;
}
#pagetop {
	display: none;
}
#header.fixed {
	width: 100%;
	height: 50px;
}
footer {
	position: fixed;
	left: 0;
	margin: auto;
	right: 0;
	z-index: 99;
}
p.cinfo {
	text-align: center;
	display: block;
	background-color: transparent;
	width: auto;
}
p.urls {
	text-align: center;
	display: block;
}
#copyright {
	text-align: center;
}
a.link, a.link2 {
	width: 40%;
}
.cd0, .cd1, .cd2, .cd3 {
	padding: 20px 0 20px;
}
/* ページ内スライド制御 */
.sliderbox {
	float: none;
	width: 100%;
	margin-left: 0;
}
.tdstyle2 {
	text-align:center;
}
.pc_dis {
	display:none;
}
.sp_dis {
	display:inline-block;
}
.header_l {
	left: -95px;
}
.header_r {
	right: 10px;
}
section.about:before {
	width: 29%;
	height: 50vw;
	left: 58%;
}
.Inner {
	width: 100%;
}
.works_box {
	width: 50%;
}
.skill_wrap {
	width: 50%;
}
.ti_career {
	margin-bottom: 5px;
	display: table;
}
.position {
	margin: 8px 0 15px 0;
}
}/*end*/
 @media screen and (max-width: 768px) {
section.about h2 {
	padding-top: 0;
}
.about_txt {
	width: 58%;
}
section.about:before {
	width: 38%;
	height: 60vw;
	left: 62%;
}
.skill_wrap {
	width: 62%;
}
}
@media screen and (max-width: 599px) {
#header {
	margin-top: 0;
	height: 50px;
	background-color: #fff;
	box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-o-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	-ms-box-shadow: 3px 0px 3px rgba(0,0,0,0.2);
	position: fixed;
}
#content #main {
	font-size: 13px;
}
#content #main h1.singletitle, #content #main h1, h1 {
	font-size: 24px;
	padding-top: 70px;
}
#content #main h2 {
	font-size: 40px;
	margin: 0;
}
#content #main h3 {
	font-size: 18px;
	margin: 50px 0 20px 0;
}
.wrapper-top {
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0px;
}
#ibox {
	width: 100%;
	position: relative;
}
.ibox_p {
	height: 125px;
}
.ibox_p a {
/*text-align: center;*/
}
.ibox_p h1 {
	font-size: 20px;
}
#submain {
	height: auto;
}
#submain img {
	top: -150px;
}
#submain .submain-title {
	margin: 0;
	text-align: center;
}
#submain p {
	margin-top: 25px;
	font-size:30px;
	letter-spacing: 1px;
}
#submain p:first-letter {
	font-size:50px;
}
.three_box p {
	font-size: 14px;
}
.f_telbtn {
	display: block;
}
#logo_footer {
	float: none;
	text-align: center;
	display: inline-block;
}
.telnum {
	display: none;
}
#imagebox3 {
	clear: both;
	z-index: 2;
	text-align: center;
	height: 200px;
	background-color: #f6f7fa;
	padding-top: 20px;
	margin-bottom: 0px;
	/* background-position: bottom center; */
	background-position: center;
	/*background-image: url("img/dot_black.png"),url("img/main_bg2.jpg");*/
	background-image: url("img/main_bg2.jpg");
	position: relative;
}
.imagebox_p {
	width: 95%;
	height: 60%;
	padding-top: 20px;
}
#base #bg #imagebox3 h1 {
	font-size: 22px;
	margin-bottom: 10px;
	line-height: 12px;
}
#base #bg #imagebox3 h1 .fs {
	font-size: 16px;
}
.imagebox_p span.c_2 {
	font-size: 13px;
	letter-spacing: -0.5px;
}
.imagebox_p span.c_3 {
	font-size: 18px;
}
.imagebox_p p {
	line-height: 1.3;
	font-size: 14px;
	margin-bottom: 0;
}
.imagebox_p span.c_2 {
	font-size: 15px;
	line-height: 1.3;
}
.imagebox_p span.c_3 {
	font-size: 15px;
	line-height: 1.3;
}
span.blogda {
	font-size: 2.9vw;
	padding: 0px 0;
}
span.blogti {
	/* font-size: 2.5vw; */
  padding: 0px 0 0px 32%;
}
.rightbox, .leftbox {
	float: none;
}
.three_box {
	width: 100%;
	float: none;
	margin-left: 0;
}
a.link, a.link2 {
	width: 90%;
}
.ibox_p {
	width: 90%;
	margin: 0px auto 0;
	position: relative;
	height: auto;
}
.contact2 {
	margin: 0 auto;
	width: 100%;
}
.contact {
	width: 100%;
	margin: 20px auto;
	line-height: 2;
	text-align: center;
}
.sbi_photo_wrap {
	text-align:center;
}
.sbi_photo_wrap img {
	width:60% !important;
}
span.address, span.tel-num, span.f-time {
	display: block;
	margin: 0;
}
.header_l {
	left: -72px;
	top: 30px;
}
.header_r {
	right: unset;
	left: 8px;
	top: 150px;
}
footer {
	position: unset;
}
.copyright {
	font-size: 13px;
	position: unset;
	transform: unset;
}
#menu {
	margin: 10px 0 0;
}
#menu li a {
	width: 50px;
	height: 50px;
	font-size: 11px;
}
#menu li:first-child {
	margin: 0 0 5px 0;
}
.wrapper {
	padding-top: 0px;
}
#content #main h3:before {
	height: 50px;
}
#content {
	padding: 0;
}
#content #main {
	padding: 0 20px 0 30px;
}
.Inner {
	padding:0px 0 0 40px;
}
.about_txt {
	width: 100%;
}
.about_name {
	font-size: 24px;
}
section.about:before {
	height: 31vw;
	width: 31vw;
	left: unset;
	right: -20px;
	position: absolute;
	top: 0px;
}
section.about h2 {
	padding-top: 30px !important;
}
section.works {
	width: 100%;
	margin-left: auto;
}
section.works h2 {
	margin-top: 30px !important;
}
section.works h3 {
	margin-top: 10px !important;
}
.works_cont {
	display: block;
}
.works_box {
	width:100%;
	padding-top: 0;
}
.career_detail {
	width: 58vw;
}
.skill_wrap {
	width: 100%;
	padding: 20px;
	justify-content: center;
}
.works_img {
}
.works_img img {
	left: 26px;
	top: 5px;
	width: 158px;
}
.career_year {
	width: 12vw;
	height: 12vw;
}
.career_box:before {
	left: 6vw;
}
}/*end*/
